.c-modal-overlay
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

.c-modal-container
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  transform: translateY(25%);

.c-modal-close
  font-size: $f-xl;
  margin: 0;
  line-height: 0;
  padding: $sm;
  a:link, a:visited
    text-decoration: none;
