body
  border-top: 15px solid #111;
  -webkit-font-smoothing: antialiased;
  background-image: url('https://s3-eu-west-1.amazonaws.com/releaseplatform-images/squaretarget/bg-img.png')

.brdr
  border: 1px solid #111;
