div(class="c-header p-t-lg p-b-xl")
  div(class="container")
    div(class="g-half")
      a(href="#", class="c-logo")
        img(src="https://s3-eu-west-1.amazonaws.com/releaseplatform-images/squaretarget/release-logo.png")
    div(class="g-half ta-r-on-lg p-t-md p-t-sm-on-sm")
      h1(class="t-sm fw-l") Instagram search
