a(href="#" class="c-modal-trigger btn btn-standout") trigger
div(class="c-modal-overlay d-n")
  div(class="c-modal-container")
    div(class="c-modal-close")
      a(href="") &times;
    h3(class="ali-c txt-sm color-primary txt-md-on-tab ttr-u fw-n mar-t-lg-on-tab-mini mar-t-no-on-tab pad-b-xs neg-lsp-sm") Where should we send your discount?
    include form.pug
