.al-c-h
  margin: 0 auto;

.p-v-xs
  padding-top: $xs;
  padding-bottom: $xs;

.p-v-sm
  padding-top: $sm;
  padding-bottom: $sm;

.p-v-md
  padding-top: $md;
  padding-bottom: $md;

.p-v-lg
  padding-top: $lg;
  padding-bottom: $lg;

.p-v-xl
  padding-top: $xl;
  padding-bottom: $xl;

.p-h-xs
  padding-left: $xs;
  padding-right: $xs;

.p-h-sm
  padding-left: $sm;
  padding-right: $sm;

.p-h-md
  padding-left: $md;
  padding-right: $md;

.p-h-lg
  padding-left: $lg;
  padding-right: $lg;

.p-h-xl
  padding-left: $xl;
  padding-right: $xl;

.p-t-no
  padding-top: 0;

.p-t-xs
  padding-top: $xs;

.p-b-xs
  padding-bottom: $xs;

.p-r-xs
  padding-right: $xs;

.p-l-xs
  padding-left: $xs;

.p-t-sm
  padding-top: $sm;

.p-b-sm
  padding-bottom: $sm;

.p-r-sm
  padding-right: $sm;

.p-l-sm
  padding-left: $sm;

.p-t-md
  padding-top: $md;

.p-b-md
  padding-bottom: $md;

.p-r-md
  padding-right: $md;

.p-l-md
  padding-left: $md;

.p-t-lg
  padding-top: $lg;

.p-b-lg
  padding-bottom: $lg;

.p-r-lg
  padding-right: $lg;

.p-l-lg
  padding-left: $lg;

.p-t-xl
  padding-top: $xl;

.p-b-xl
  padding-bottom: $xl;

.p-r-xl
  padding-right: $xl;

.p-l-xl
  padding-left: $xl;

@media screen and (min-width: $bp-md)
  .p-v-xs-on-md
    padding-top: $xs;
    padding-bottom: $xs;

  .p-v-sm-on-md
    padding-top: $sm;
    padding-bottom: $sm;

  .p-v-md-on-md
    padding-top: $md;
    padding-bottom: $md;

  .p-v-lg-on-md
    padding-top: $lg;
    padding-bottom: $lg;

  .p-v-xl-on-md
    padding-top: $xl;
    padding-bottom: $xl;

  .p-h-xs-on-md
    padding-left: $xs;
    padding-right: $xs;

  .p-h-sm-on-md
    padding-left: $sm;
    padding-right: $sm;

  .p-h-md-on-md
    padding-left: $md;
    padding-right: $md;

  .p-h-lg-on-md
    padding-left: $lg;
    padding-right: $lg;

  .p-h-xl-on-md
    padding-left: $xl;
    padding-right: $xl;

  .p-t-no-on-md
    padding-top: 0;

  .p-t-xs-on-md
    padding-top: $xs;

  .p-b-xs-on-md
    padding-bottom: $xs;

  .p-r-xs-on-md
    padding-right: $xs;

  .p-l-xs-on-md
    padding-left: $xs;

  .p-t-sm-on-md
    padding-top: $sm;

  .p-b-sm-on-md
    padding-bottom: $sm;

  .p-r-sm-on-md
    padding-right: $sm;

  .p-l-sm-on-md
    padding-left: $sm;

  .p-t-md-on-md
    padding-top: $md;

  .p-b-md-on-md
    padding-bottom: $md;

  .p-r-md-on-md
    padding-right: $md;

  .p-l-md-on-md
    padding-left: $md;

  .p-t-lg-on-md
    padding-top: $lg;

  .p-b-lg-on-md
    padding-bottom: $lg;

  .p-r-lg-on-md
    padding-right: $lg;

  .p-l-lg-on-md
    padding-left: $lg;

  .p-t-xl-on-md
    padding-top: $xl;

  .p-b-xl-on-md
    padding-bottom: $xl;

  .p-r-xl-on-md
    padding-right: $xl;

  .p-l-xl-on-md
    padding-left: $xl;

@media screen and (min-width: $bp-sm)
  .p-v-xs-on-sm
    padding-top: $xs;
    padding-bottom: $xs;

  .p-v-sm-on-sm
    padding-top: $sm;
    padding-bottom: $sm;

  .p-v-md-on-sm
    padding-top: $md;
    padding-bottom: $md;

  .p-v-lg-on-sm
    padding-top: $lg;
    padding-bottom: $lg;

  .p-v-xl-on-sm
    padding-top: $xl;
    padding-bottom: $xl;

  .p-h-xs-on-sm
    padding-left: $xs;
    padding-right: $xs;

  .p-h-sm-on-sm
    padding-left: $sm;
    padding-right: $sm;

  .p-h-md-on-sm
    padding-left: $md;
    padding-right: $md;

  .p-h-lg-on-sm
    padding-left: $lg;
    padding-right: $lg;

  .p-h-xl-on-sm
    padding-left: $xl;
    padding-right: $xl;

  .p-t-no-on-sm
    padding-top: 0;

  .p-t-xs-on-sm
    padding-top: $xs;

  .p-b-xs-on-sm
    padding-bottom: $xs;

  .p-r-xs-on-sm
    padding-right: $xs;

  .p-l-xs-on-sm
    padding-left: $xs;

  .p-t-sm-on-sm
    padding-top: $sm;

  .p-b-sm-on-sm
    padding-bottom: $sm;

  .p-r-sm-on-sm
    padding-right: $sm;

  .p-l-sm-on-sm
    padding-left: $sm;

  .p-t-md-on-sm
    padding-top: $md;

  .p-b-md-on-sm
    padding-bottom: $md;

  .p-r-md-on-sm
    padding-right: $md;

  .p-l-md-on-sm
    padding-left: $md;

  .p-t-lg-on-sm
    padding-top: $lg;

  .p-b-lg-on-sm
    padding-bottom: $lg;

  .p-r-lg-on-sm
    padding-right: $lg;

  .p-l-lg-on-sm
    padding-left: $lg;

  .p-t-xl-on-sm
    padding-top: $xl;

  .p-b-xl-on-sm
    padding-bottom: $xl;

  .p-r-xl-on-sm
    padding-right: $xl;

  .p-l-xl-on-sm
    padding-left: $xl;

@media screen and (min-width: $bp-lg)
  .p-v-xs-on-lg
    padding-top: $xs;
    padding-bottom: $xs;

  .p-v-sm-on-lg
    padding-top: $sm;
    padding-bottom: $sm;

  .p-v-md-on-lg
    padding-top: $md;
    padding-bottom: $md;

  .p-v-lg-on-lg
    padding-top: $lg;
    padding-bottom: $lg;

  .p-v-xl-on-lg
    padding-top: $xl;
    padding-bottom: $xl;

  .p-h-xs-on-lg
    padding-left: $xs;
    padding-right: $xs;

  .p-h-sm-on-lg
    padding-left: $sm;
    padding-right: $sm;

  .p-h-md-on-lg
    padding-left: $md;
    padding-right: $md;

  .p-h-lg-on-lg
    padding-left: $lg;
    padding-right: $lg;

  .p-h-xl-on-lg
    padding-left: $xl;
    padding-right: $xl;

  .p-t-no-on-lg
    padding-top: 0;

  .p-t-xs-on-lg
    padding-top: $xs;

  .p-b-xs-on-lg
    padding-bottom: $xs;

  .p-r-xs-on-lg
    padding-right: $xs;

  .p-l-xs-on-lg
    padding-left: $xs;

  .p-t-sm-on-lg
    padding-top: $sm;

  .p-b-sm-on-lg
    padding-bottom: $sm;

  .p-r-sm-on-lg
    padding-right: $sm;

  .p-l-sm-on-lg
    padding-left: $sm;

  .p-t-md-on-lg
    padding-top: $md;

  .p-b-md-on-lg
    padding-bottom: $md;

  .p-r-md-on-lg
    padding-right: $md;

  .p-l-md-on-lg
    padding-left: $md;

  .p-t-lg-on-lg
    padding-top: $lg;

  .p-b-lg-on-lg
    padding-bottom: $lg;

  .p-r-lg-on-lg
    padding-right: $lg;

  .p-l-lg-on-lg
    padding-left: $lg;

  .p-t-xl-on-lg
    padding-top: $xl;

  .p-b-xl-on-lg
    padding-bottom: $xl;

  .p-r-xl-on-lg
    padding-right: $xl;

  .p-l-xl-on-lg
    padding-left: $xl;
